<!-- DEMO_USER / fichier: views/about.ejs -->
<!-- même principe que acceuil --------- -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">About</h1>
</div>

<img src="/img/picture.webp" alt="Laptop" width="473" height="316">
<p>Photo de Garrett Sears sur Unsplash</p>

<div class="pt-3">
  <p>Il s'agit d'un système simple de gestion des utilisateurs développé dans le cadre d'un didacticiel YouTube.</p>
  <p>didacticiel francisé et adapté par Thierry VOZELLE pour le faire tourner en NodeJS LAYOUT EJS idb-pconnector sur l'IFS et sur la base UDB-DB2 IBM iseries en V7R4.</p>
  <p>Découvrez mon <a href="https://youtube.com/raddydev">YouTube Channel</a> et soutien en vous abonnant!</p>
</div>
