<!-- DEMO-SEQ / fichier: views/about.ejs -->
<!-- même principe que acceuil --------- -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Test 2</h1>
</div>

<p>exemple de lien vers test 2 ---  AVEC protection</p>
<p>route protégé par le midlleware:  exigerAuthentification</p>

